<div class="bg-content">            
   <div id="content">
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">         
          <ul class="list-blog">
            <li>  
            <h3>Portrait and Studio Photography</h3>     
            <time datetime="2012-11-09" class="date-1">9.11.2012</time>
            <div class="name-author">by <a href="#">Anya</a></div>
            <a href="#" class="comments">11 comments</a> 
            <div class="clear"></div>            
              <img alt="" src="assets/music-and-performance.jpg">                               
              <p>Our photo shoots include the styling consultation, use of our costumes and studio artifacts and retouching. Our photo sessions come with studio light variations as well as multiple background settings or location.​ Our studio is located on the east side of Manhattan, minutes away from Central Park.</p>
              <a href="#" class="btn btn-1"><%= t('page.shared.more') %></a>          
            </li>  
                        
            <li>  
            <h3>Musicians, Actors and Performancers</h3>     
            <time datetime="2012-11-08" class="date-1">8.11.2012</time>
            <div class="name-author">by <a href="#">Anya</a></div>
            <a href="#" class="comments">9 comments</a> 
            <div class="clear"></div>            
              <img alt="" src="assets/studio-portraits.jpg">                               
              <p>We'll try different things, look for new ways to see, and be present for you. The best part of having many years of experience is that we can let our instincts guide us. We have the capabilities and professional experience to produce your next high quality project with success!</p>
              <a href="#" class="btn btn-1"><%= t('page.shared.more') %></a>          
            </li> 
                                 
          </ul>
          </div>  
        </article>
        <article class="span4">
          <h3 class="extra"><%= t('page.shared.search') %></h3>
          <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
            <div class="clearfix">
              <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
              <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1"><%= t('page.shared.search') %></a> </div>
          </form>
          <h3><%= t('page.shared.gallery') %></h3>
          <ul class="list extra extra1">           
            <li><a href="pages#gallery/1">Portrait Sessions</a></li>
            <li><a href="pages#gallery/2">Musicians</a></li>
            <li><a href="pages#gallery/3">Performance Photoshots</a></li>
            <li><a href="pages#gallery/4">Family Photosessions</a></li>                  
      </ul>
          <h3><%= t('page.shared.archive') %></h3>
         <div class="wrapper">
          <ul class="list extra2 list-pad ">
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
          </ul>
            <ul class="list extra2">
            <li><a href="#">May 2012</a></li>
            <li><a href="#">April 2012</a></li>
            <li><a href="#">March 2012</a></li>
            <li><a href="#">February 2012</a></li>
            <li><a href="#">January 2012</a></li>
            <li><a href="#">December 2011</a></li>
          </ul>
          
          </div>
        </article>
      </div>
     </div>
  </div>
 </div>