<!DOCTYPE html>
<html lang='<%= I18n.locale.to_s %>'>
<head>
    <title><%= t('meta.title') %></title>
    <meta name="description" content="<%= t('meta.description') %>">
    <meta name="keywords" content="<%= t('meta.keywords') %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' name='viewport'>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="assets/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="assets/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="assets/touchTouch.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="assets/jquery.js"></script>
  	<script type="text/javascript" src="assets/superfish.js"></script>
	<% if current_page?(root_url)  %>
		<link rel="stylesheet" href="assets/kwicks-slider.css" type="text/css" media="screen">
		<script type="text/javascript" src="assets/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="assets/jquery.kwicks-1.5.1.js"></script>
	<% end %>
	<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>	  
	<script type="text/javascript" src="assets/touchTouch.jquery.js"></script>
	
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='assets/jquery.preloader.js'></"+"script>");}	</script>

	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();    }	
		 
     jQuery('.magnifier').touchTouch();			
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 	
	</script>
</head>
<body>
<%# if current_page?(root_url) %><!-- <div class="spinner"></div> --><%# end %>
<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footer' %>
<script type="text/javascript" src="assets/bootstrap.js"></script>
</body>
</html>